

/* ******** */
/* UNIVERSAL */
/* ******** */

* {
    margin: 0;
    scroll-behavior: smooth;
}

.main {
    position: sticky;
    top: 45px;
    margin-bottom: 45px;
    z-index: 10;
    width: 100%;
}

.spacer {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
}
/* ARROW */

.arrow {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 16%;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    z-index: 113;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}
.arrow > i {
    color: rgba(255, 255, 255, .3);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, .6);
    transition: all 0.5s ease;
}
.arrow > i:hover {
    transform: scale(1.5);
    z-index: 113;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 12px 5px rgba(88, 88, 88, 0.5);
    cursor: pointer;
    transition: all 0.5s ease;
}
@keyframes pulse {
    0% {opacity: 1; transform: scale(1.5);}
    95% {opacity: .1;transform: scale(0.9);}
}
.arrowStart > i {
    animation: pulse 1333ms linear infinite;
    transition: all 0.5s ease;
    color: rgba(255, 255, 255, 1);
}
.arrowStart > i:hover {
    animation: none;
}

.arrowUp {
    transform: rotate(180deg);
}
.arrowUp > i:hover {
    text-shadow: 0px -12px 5px rgba(88, 88, 88, 0.541);
}
.arrowDown {
    transform: rotate(0deg);
}



/* **** */
/* CARDs */
/* **** */


/* FRAME & BLANK */

.cardBG {   
    position: relative;
    top: 45px;
    height: 80vh;
    margin: 0 45px 0 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(133, 216, 255);
}
.card {
    position: relative;
    top: 45px;
    left: 45px;
    height: calc(100% - 90px);
    width: calc(100% - 90px);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    background-color: white;
    z-index: 21;
    transition: all 0.5s ease;
}

.revealButton {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.revealButton:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0 0 30px 30px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(230, 230, 230);
    background: transparent;
    -webkit-box-shadow: -1px -1px 3px rgba(0,0,0,0.3), -1px -1px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px -1px 3px rgba(0,0,0,0.3), -1px -1px 5px rgba(0,0,0,0.2);
    box-shadow: -1px -1px 3px rgba(0,0,0,0.3), -1px -1px 5px rgba(0,0,0,0.2);
    display: block; width: 0;
    transition: all 0.5s ease;
}
.revealButton:hover:before {
    border-width: 0 0 50px 50px;
}
.coverButton {
    position: absolute;
    height: 800px;
    width: calc(100%);
    cursor: pointer;
    z-index: 1000;
    transition: all 0.5s ease;
}

/* TEXT BOX */

.name {
    position: absolute;
    top: 100px;
    min-width: 335px;
    left: 6vw;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 2.4em;
    text-align: right;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    z-index: 23;
    transition: all 0.5s ease;
}

.textBox {
    position: relative;
    top: 149px;
    margin: 0 10% 0px 10%;
    padding: 30px 20px 30px 50px;
    min-height: 350px;
    max-height: 50%;
    border-radius: 0px 5px 5px 5px;
    -webkit-box-shadow: 0px 0px 0px 2px rgb(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 0px 2px rgb(0, 0, 0, .8);
    box-shadow: 0px 0px 0px 2px rgb(0, 0, 0, .8);
    background-color: rgba(255, 255, 255, 1);
    text-align: left;
    z-index: 22;
    white-space: normal;
    overflow: scroll;
    text-overflow: ellipsis;
}
.titles {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: -15px;
}

/* MORE BUTTON */

.moreButton {
    position: absolute;
    top: 580px;
    right: 13vw;
    text-align: right;
    /* border: 2px solid red; */
    transition: all 0.5s ease;
}
.moreText {

    text-decoration: none;
    font-size: 1.3em;

    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    z-index: 111;
    transition: all 0.5s ease;
}
.moreButton:hover {
    font-size: 140%;
    transition: all 0.5s ease;
    text-shadow: 10px 8px 5px rgba(88, 88, 88, 0.541);
}

#moreAbout:active {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: all 0.1s ease;
    text-shadow: 10px 8px 5px rgba(88, 88, 88, 0.541), 0px 0px 5px rgba(0, 63, 179, 1), 0px 0px 20px rgba(0, 179, 134, 1);
}
#morePortfolio:active {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: all 0.1s ease;
    text-shadow: 10px 8px 5px rgba(88, 88, 88, 0.541), 0px 0px 5px rgba(25, 218, 0, 1), 0px 0px 20px rgba(0, 179, 134, 1);
}



/* ************* */
/* HEADER/NAV BAR */
/* ************* */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    background:rgb(255, 255, 255);
    z-index: 5000;
    transition: all 0.5s ease;
}

#navName {
    position: absolute;
    top: 5px;
    left: -250px;
    margin: 3px;
    z-index: 100;
    font-size: 1.4em;
    font-weight: 700;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: all 1s ease;
    cursor: pointer;
}
#navName:hover {
    font-size: 160%;
    text-shadow: -10px -8px 5px rgba(88, 88, 88, 0.541);
    transition: all 0.5s ease;
}
#navName:active {
    text-shadow: -10px -8px 5px rgba(88, 88, 88, 0.541), 0px 0px 5px rgba(0, 179, 134, 1), 0px 0px 20px rgba(0, 179, 134, 1);
    transition: all .5s ease;
}

    /* Nav List */

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 45px;

    z-index: 1001;   
    list-style-type: none;
    transition: all 0.5s ease;
}

.navButton {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
    transition: all 0.5s ease;
}
.navButton:hover {
    font-size: 120%;
    transition: all 0.5s ease;
    text-shadow: 10px -10px 5px rgba(88, 88, 88, 0.541);
}
.buttonAbout:active {
    text-shadow: 10px -10px 5px rgba(88, 88, 88, 0.541), 0px 0px 5px rgba(0, 63, 179, 1), 0px 0px 20px rgba(0, 179, 134, 1);
}
.buttonPortfolio:active {
    text-shadow: 10px -10px 5px rgba(88, 88, 88, 0.541), 0px 0px 5px rgba(25, 218, 0, 1), 0px 0px 20px rgba(0, 179, 134, 1);
}
.buttonContact:active {
    text-shadow: 10px -10px 5px rgba(88, 88, 88, 0.541), 0px 0px 5px rgba(255, 0, 0, 1), 0px 0px 20px rgba(0, 179, 134, 1);
}
.navHoverCheck {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    z-index: 20;
}



.buttonAboutScroll {
    text-shadow: 0px 0px 5px rgba(0, 63, 179, .5), 0px 0px 20px rgba(0, 179, 134, .5);
    transition: all 0.5s ease;
}
.buttonPortfolioScroll {
    text-shadow: 0px 0px 5px rgba(25, 218, 0, .5), 0px 0px 20px rgba(0, 179, 134, .5);
    transition: all 0.5s ease;
}
.buttonContactScroll {
    text-shadow: 0px 0px 5px rgba(255, 0, 0, .5), 0px 0px 20px rgba(0, 179, 134, .5);
    transition: all 0.5s ease;
}


/* ****** */
/* HERO SPACE */
/* ****** */

.hero {   
    position: fixed;
    left: 0;
    top: 45px;
    background-color: rgb(255, 255, 255);
    height: 80vh;
    width: 100vw;
    z-index: -10;
}



.selfie {
    position: absolute;
    bottom: 15%;
    right: 22%;
    margin-left: 7vw;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
    z-index: 1;
    width: 27%;
    min-width: 250px;
    max-width: 350px;
    margin-top: 0;
    transition: all 0.5s ease;
    cursor: default;
}
.selfie:hover {
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 179, 134,1), .5vw 5px 7px 7px rgba(88, 88, 88, 0.541);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0, 179, 134,1), .5vw 5px 7px 7px rgba(88, 88, 88, 0.541);
    box-shadow: 0px 0px 0px 4px rgba(0, 179, 134,1), .5vw 5px 7px 7px rgba(88, 88, 88, 0.541);
    transform: scale(1.1);
    transition: all 0.5s ease;
}


.heroName {
    position: absolute;
    top: 30vh;
    left: 5%;
    width: 30%;
    margin-left: 10vw;
    min-width: 400px;
    background: rgb(0,63,179);
    background: linear-gradient(155deg,rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%);
    -webkit-box-shadow: -3px -1px 6px 2px rgb(0, 179, 134);
    -moz-box-shadow: -3px -1px 6px 2px rgb(0, 179, 134);
    box-shadow: -3px -1px 6px 2px rgb(0, 179, 134);
    padding-right: 10px;
    text-align: right;
    font-size: 3.6em;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    z-index: 3;
    transition: all 0.5s ease;
    cursor: default;
}
.heroName:hover {
    -webkit-box-shadow: -1vw -2px 10px 3px rgba(88, 88, 88, 0.541);
    -moz-box-shadow: -1vw -2px 10px 3px rgba(88, 88, 88, 0.541);
    box-shadow: -1vw -2px 10px 3px rgba(88, 88, 88, 0.541);
    transition: all 0.5s ease;   
    transform: scale(1.1);
    color: white;
    background: rgb(0,63,179);
    background: linear-gradient(20deg,rgba(0,63,179,1) 0%, rgba(0,197,134,1) 50%);
}

.job {
    position: relative;
    top: 20vh;
    left: 10vw;
    margin: 0 30% 0 10%;
    height: 30vh;
    min-width: 280px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 5px 5px 5px;
    -webkit-box-shadow: 0px 0px 0px 3px rgb(0, 0, 0, 1), 0px 0px 15px 0px rgba(0, 179, 134, 1);
    -moz-box-shadow: 0px 0px 0px 3px rgb(0, 0, 0, 1), 0px 0px 15px 0px rgba(0, 179, 134, 1);
    box-shadow: 0px 0px 0px 3px rgb(0, 0, 0, 1), 0px 0px 15px 0px rgba(0, 179, 134, 1);
    padding-left: 3vw;
    padding-top: 1vh;
    line-height: 60px;
    font-size: 1.6em;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    z-index: -2;
    cursor: default;
    transition: all 0.5s ease;
}



/* ****** */
/* ABOUT CARD */
/* ****** */


#about > .cardBG {   
    background-image: url(../images/20150531_130501.jpg);
    z-index: 10;
}

#aboutName {
    -webkit-box-shadow: -3px -3px 0px 3px rgb(0, 0, 0, .5), -3px -3px 7px 2px rgb(0, 63, 179), -3px -3px 30px 0px rgba(0, 179, 134);
    -moz-box-shadow: -3px -3px 0px 3px rgb(0, 0, 0, .5), -3px -3px 7px 2px rgb(0, 63, 179), -3px -3px 30px 0px rgba(0, 179, 134);
    box-shadow: -3px -3px 0px 3px rgb(0, 0, 0, .5), -3px -3px 7px 2px rgb(0, 63, 179), -3px -3px 30px 0px rgba(0, 179, 134);
}

.aboutStick {
    position: fixed;
    top: 45px;
}
/* ********** */
/* PREVIEW CARD */
/* ********** */


#portfolio > .cardBG {   
    background-image: url(../images/IMG_20150928_155909.jpg);
    z-index: 20;
}

#portfolioName {
    -webkit-box-shadow: -3px -3px 0px 3px rgb(0, 0, 0, .5), -3px -3px 7px 2px rgb(25, 218, 0), -3px -3px 30px 0px rgb(0, 179, 134);
    -moz-box-shadow: -3px -3px 0px 3px rgb(0, 0, 0, .5), -3px -3px 7px 2px rgb(25, 218, 0), -3px -3px 30px 0px rgb(0, 179, 134);
    box-shadow: -3px -3px 0px 3px rgb(0, 0, 0, .5), -3px -3px 7px 2px rgb(25, 218, 0), -3px -3px 30px 0px rgb(0, 179, 134);
}


/* ********** */
/* CONTACT CARD */
/* ********** */

#contact > .cardBG {   
    background-image: url(../images/desertrainbow.jpg);
    z-index: 30;
}

#contactName {
    -webkit-box-shadow: -3px -3px 0px 3px rgb(0, 0, 0, .5), -3px -3px 7px 2px rgb(255, 0, 0), -3px -3px 30px 0px rgb(0, 179, 134);
    -moz-box-shadow: -3px -3px 0px 3px rgb(0, 0, 0, .5), -3px -3px 7px 2px rgb(255, 0, 0), -3px -3px 30px 0px rgb(0, 179, 134);
    box-shadow: -3px -3px 0px 3px rgb(0, 0, 0, .5), -3px -3px 7px 2px rgb(255, 0, 0), -3px -3px 30px 0px rgb(0, 179, 134);
}


/* ******** */
/* Footer */
/* ******** */


footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    height: 8vh;
    width: 100vw;
    background-color: black;
    z-index: 250;
}

#footLinks {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    height: 100%;
    margin-right: 15px;
    list-style-type: none;
    text-decoration: none;
    z-index: 101;   
}

.footIcon {
    padding: 10px;
    margin: 0px 10px 0px 10px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.5s ease;
}
.footIcon:hover {
    text-shadow: 4px 8px 2px rgba(255, 255, 255, 0.541);
    font-size: 250%;
    transition: all 0.5s ease;
}

.footButton {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-weight: 100;
    font-size: 1.6em;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
}
.footButton:hover {
    text-shadow: 3px 8px 2px rgba(255, 255, 255, 0.541);
    font-size: 170%;
    transition: all 0.5s ease;
}


/* ******** */
/* Text Styles */
/* ******** */

h1 {
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
h2 {
    font-size: 1.4em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
h3 {
    font-size: 1.17em;
    font-weight: 400;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
    font-style: oblique;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}
h5 {
    font-size: .75em;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
p {
    font-size: 1.1em;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





@media only screen and (max-width: 600px) {
    .cardBG {
        margin: 45px 0px 45px 0px;
        width: 100vw;
    }
    .card {
        /* margin: 45px 0px 45px 0px; */
        left: 0;
        width: 100vw;
    }
    .navLinks {
        justify-content: space-around;
        margin: 0;
        margin-right: 40px;
    }
    #navName {
        display: none;
    }
    .name {
        margin: 0 auto;
        width: 300px;
        left: 0;
        right: 0;
        text-align: center;
    }
    .job {
        margin: 0 30% 0 0;
    }
    .textBox {
        margin: 0;
        left: 0;
        border-radius: 0;
    }
    .moreButton {
        right: 5vw;
    }
}






/* Design Aids */

.endTest {
    height: 1000px;
}

.redLine {
    border: 3px solid red;
}